/* Style Sheet for Portfolio Website */

/* display grid formatting */
#mainformat {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        text-align: center;
        display: grid;
        margin: -1%;
        grid-template-columns: 400px 400px 400px 400px;
        grid-template-rows: auto auto auto auto;
        grid-gap: 1%;
    }

@media (min-width: 360px) {
    #mainformat {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header header header"
            "content content content"
            "content content content"
            "content content content"
            "content content content"
            "footer footer footer";
    }
}

@media (max-width: 1280px) {
    #mainformat {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "header"
        "content"
        "content"
        "content"
        "content"
        "footer";
    }
}

/* display grid set up for headshot image and name */
#home {
    grid-area: 1 / 1 / span 1 / span 3;
    text-align: center;
    background-color: lightblue;
}

/* header image formatting */
#headerimage {
    margin: 2% auto auto auto;
    border-radius: 50%;
    border: 10px solid white;
    max-width: 220px;
    height: auto;
}

#navbar {
    text-align: center;
    font-size: 20px;
    display: inline-block;
    margin: auto auto 1% auto;
}

/* display grid set up for all body sections */
#skills {
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    grid-area: 2 / 2 / span 1 / span 1;
}
#present {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-area: 3 / 2 / span 1 / span 1;
}
#projects {
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-area: 4 / 2 / span 1 / span 1;
}
#about {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-area: 5 / 1 / span 1 / span 3;
}
#contact {
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-area: 6 / 1 / span 1 / span 3;
}

/* about image formatting */
#aboutimage {
    border-radius: 50%;
    border: 8px solid lightgrey;
    max-width: 300px;
    height: auto;
}

#tabfive {
    tab-size: 5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}