/* Style Sheet for Portfolio Website */

/* display grid formatting */
#mainformat {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        text-align: left;
        margin: 2%;
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: auto auto;
        grid-gap: 2%;
    }

@media (min-width: 300px) {
    #mainformat {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "header header"
            "content content"
            "content content"
            "content content"
            "content content"
            "footer footer";
    }
}

@media (max-width: 1280px) {
    #mainformat {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "header"
        "content"
        "content"
        "content"
        "content"
        "footer";
    }
}

/* display grid set up for headshot image and name */
#home {
    grid-area: 1 / 1 / span 1 / span 2;
    text-align: center;  
}

/* header image formatting */
#headerimage {
    border-radius: 50%;
    border: 8px solid lightgrey;
    max-width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* display grid set up for all body sections */
#navbar {
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

#skills {
    display: grid;
    grid-area: 2 / 1 / span 1 / span 2;
}


#present {
    display: grid;
    grid-area: 3 / 1 / span 1 / span 2;
}

#projects {
    display: grid;
    grid-area: 4 / 1 / span 1 / span 2;
}

#about {
    display: grid;
    grid-area: 5 / 1 / span 1 / span 2;
}

#contact {
    display: grid;
    grid-area: 6 / 1 / span 1 / span 2;
}